altair==4.2.2
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
Brotli==1.1.0
cachetools==5.5.0
certifi==2024.2.2
cffi==1.14.6
chardet==3.0.4
charset-normalizer==3.3.2
chromedriver-autoinstaller==0.6.4
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cryptography==43.0.0
cycler==0.12.1
decorator==4.4.2
easyocr==1.7.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
googletrans==4.0.0rc1
graphviz==0.20.3
h11==0.9.0
h2==4.1.0
hpack==4.0.0
hstspreload==2024.7.1
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==6.0.1
idna==2.10
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib_resources==6.4.0
iniconfig==2.0.0
Jinja2==3.1.4
JPype1==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kaitaistruct==0.10
keyboard==0.13.5
kiwisolver==1.4.5
konlpy==0.6.0
lazy_loader==0.4
lxml==5.1.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mecab-python @ file:///C:/Users/LeadersTrading/miniconda3/envs/opencv/Lib/site-packages/mecab_python-0.996_ko_0.9.2_msvc-cp38-cp38-win_amd64.whl#sha256=c2a902ea1f02643498d1aaa7a115730437ad381fca26ff0af80192f3a740d0c7
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
narwhals==1.9.0
networkx==3.1
ninja==1.11.1.1
numpy==1.24.4
olefile==0.47
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
openpyxl==3.1.3
outcome==1.3.0.post0
packaging==23.2
pandas==2.0.3
pdfkit==1.0.0
pillow==10.2.0
pillow_heif==0.18.0
pkgutil_resolve_name==1.3.10
plotly==5.24.1
pluggy==1.5.0
proglog==0.1.10
protobuf==5.28.2
py==1.4.22
pyarrow==17.0.0
pyasn1==0.6.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pyclipper==1.3.0.post5
pycparser==2.21
pydeck==0.9.1
pydivert==2.1.0
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.18.0
pyhwp==0.1b15
PyMsgBox==1.0.9
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pyOpenSSL==25.0.0
pyparsing==3.1.2
PyPDF2==3.0.1
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
pytesseract==0.3.10
pytest==8.3.4
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.1
python-pptx==1.0.2
pytweening==1.2.0
pytz==2024.1
PyWavelets==1.4.1
PyYAML==6.0.1
referencing==0.35.1
requests==2.31.0
rfc3986==1.5.0
rich==13.9.1
rpds-py==0.20.0
scikit-image==0.21.0
scipy==1.10.1
seaborn==0.13.2
selenium==4.27.1
selenium-stealth==1.0.6
selenium-wire==5.1.0
shapely==2.0.5
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.5
SpeechRecognition==3.10.4
streamlit==1.40.1
streamlit-aggrid==1.0.5
sympy==1.13.1
tenacity==9.0.0
tifffile==2023.7.10
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
torch==2.4.0
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.2
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.10.0
tzdata==2024.1
undetected-chromedriver==3.5.5
uno==0.3.3
unoconv==0.9.0
unotools==0.3.3
urllib3==2.2.1
watchdog==4.0.2
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
wsproto==1.2.0
XlsxWriter==3.2.0
zipp==3.19.2
zstandard==0.23.0
